# Python
server/.venv/
server/__pycache__/
server/.pytest_cache/
server/*.sqlite3
*.log
__pycache__
*.pyc

# Node
client/node_modules/
client/dist/
client/.vite/
client/.eslintcache

# Env
*.env
*.env.*
server/.env
client/.env

# OS/IDE
.DS_Store
.vscode/
.idea/
